*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root{
    --bg-color:#0c0c0c;
    --text-color:#fff;
    --main-color:#ae8957;

    --big-font: 6.6rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 2.188rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

.logo img{
    width: 100%;
    height: auto;
}

.navlist{
    display: flex;
}

.navlist a{
    display: inline-block;
    margin: 0 2.188rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    transition: all .6s ease;
}

.navlist a:hover{
    color: var(--main-color);
}

.right-content{
    display: flex;
    align-items: center;
}

.nav-btn{
    display: inline-block;
    padding: .563rem 1.5rem;
    background: transparent;
    border: .125rem solid var(--text-color);
    border-radius: .438rem;
    color: var(--text-color);
    font-size: .938rem;
    font-weight: 500;
    transition: all .60s ease;
}

.nav-btn:hover{
    transform: translateY(-.313rem);
    border: .125rem solid var(--main-color);
    color: var(--main-color);
}

#menu-icon{
    font-size: 2.625rem;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 1.563rem;
    display: none;
}

section{
    padding: 0 14%;
}

.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../img/bg.png) no-repeat center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.hero-img img{
    width: 100%;
    height: auto;
}

.hero-text h1{
    font-size: var(--big-font);
    font-weight: 800;
    line-height: 1.3;
    margin: 1.25rem 0 1.75rem;
}

.hero-text h5{
    color: #ffffffb3;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .63rem;
}

.hero-text p{
    width: 100%;
    max-width: 38.75rem;
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 2rem;
    color: var(--text-color);
    margin-bottom: 2.5rem;
}

.main-hero{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: .813rem 2rem;
    background: var(--main-color);
    border: 0.125rem solid transparent;
    border-radius: .438rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    transition: all .60s ease;
    margin-right: 1.25rem;
}

.btn:hover{
    transform: scale(1.1);
}

.price{
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--text-color);
}

.price span{
    font-size: 1.063rem;
    font-weight: 400;
    color: var(--main-color);
    margin-left: .625rem;
}

.icons{
    position: absolute;
    top: 50%;
    padding: 0 7%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 2.25rem 0;
    font-size: 1.5rem;
    color: var(--text-color);
    transition: all .60s ease;
}

.icons i:hover{
    color: var(--main-color);
    transform: translateY(-.313rem);
}

.scroll{
    position: absolute;
    bottom: 8%;
    right: 7%;
    transform: translateY(-50%);
}

.scroll a{
    font-size: 1rem;
    color: var(--text-color);
}

.scroll i{
    font-size: 1.25rem;
    margin:.375rem;
}


@media(max-width: 1770px){
    header{
        padding: 1.375rem 4%;
        transition: .2s;
    }
    section{
        padding: 8.75rem 2% 2rem;
    }
    .icons{
        padding: 0 4%;
        transition: .2s;
    }
    .scroll{
        right: 4%;
    }
}

@media(max-width: 1670px){
    :root{
        --big-font: 5.5rem;
        --h2-font: 1.75rem;
        --p-font: 1rem;
    }
}

@media(max-width: 1370px){
    .icons{
        display: none;
    }
    section{
        padding: 0 4%;
    }
}

@media(max-width: 1150px) {
    :root{
        --big-font: 4.6rem;
    }
    .price{
        font-size: 1.25rem;
    }
    .btn{
        padding: .625rem 1.5rem;
    }
} 

@media(max-width: 950px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 6.25rem 3.125rem;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(2rem);
        transition: all .60s ease-in-out;
    }
    .navlist a{
        display: block;
        padding: 0;
        margin: 0 0 1.56rem 0;
        font-size: 1.7rem;
    }
    .navlist.open{
        left: 0;
    }
}

@media (max-width: 920px){
    .scroll{
        display: none;
    }
    .hero{
        height: auto;
        grid-template-columns: 1fr;
    }
    .hero-text{
        padding-top: 8.125rem;
    }
    .hero-img{
        height: 31.25rem;
        width: 31.25rem;
        margin: 0 auto;
    }
    .hero-img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media (max-width: 570px){
    :root{
        --big-font: 4rem;
    }
    .hero{
        height: 100vh;
    }
    .hero-img {
        height: 25rem;
        width: 25rem;
        margin: 0 auto;
    }
}

@media(max-width: 440px){
    :root{
        --big-font: 3.5rem;
    }
    .hero-text h5{
        font-size: 1rem;
    }
    .hero-img{
        height: 22.5rem;
        width: 22.5rem;
        margin: 0 auto;
    }
}